<!-- <div>
    <label class="fs-3 bg-info" for="email-textbox">type your mail</label>
    <input id="textbox" type="email" class="form-control">
</div> -->


<!-- <i class="fa-solid fa-user"></i>

<app-input-component (changingTextFromEmail)="changeHeaderText($event)" [labelText]="'Type your email'"
    [inputType]="'email'"></app-input-component>

<app-input-component [labelText]="'Type your Password'" [inputType]="'password'"></app-input-component>

<h1>{{emailText}}</h1>

<div class="row g-3">
    @for (profile of accounts; track profile.email) {
    <div class="col-lg-4 col-sm-12">
        <app-profile [class.change-first]="$first" [class.change-last]="$last" [name]="profile.name"
            [email]="profile.email" [password]="profile.password"></app-profile>
    </div>

    }
</div> -->


<div class="hero-background">
    <router-outlet></router-outlet>
</div>